export(acvWGEN)
export(adddate)
export(addsuffixes)
export(arch_test)
export(ComprehensivePrecipitationGenerator)
export(ComprehensiveTemperatureGenerator)
export(continuity_ratio)
export(countNAs)
export(covariance)
export(ElevationOf)
export(extractdays)
export(extractmonths)
export(extractTnFromAnomalies)
export(extractTxFromAnomalies)
export(extractyears)
export(findDate)
export(forecastEV)
export(forecastResidual)
export(generateTemperatureTimeseries)
export(getDailyMean)
export(getMonthlyMean)
export(getVARmodel)
export(GPCA_iteration)
export(GPCA)
export(inv_GPCA_iteration)
export(inv_GPCA)
export(is.monthly.climate)
export(NewVAReventRealization)
export(newVARmultieventRealization)
export(normality_test)
export(normalizeGaussian_prec)
export(normalizeGaussian_severalstations_prec)
export(normalizeGaussian_severalstations)
export(normalizeGaussian)
export(plot_sample)
export(plotDailyClimate)
export(PrecipitationEndDay)
export(PrecipitationStartDay)
export(qqplot_RMAWGEN_deltaT)
export(qqplot_RMAWGEN_prec)
export(qqplot_RMAWGEN_Tn)
export(qqplot_RMAWGEN_Tx)
export(qqplot.lagged)
export(qqplotprecWGEN_seasonal)
export(qqplotprecWGEN)
export(qqplotTnTxWGEN_seasonal)
export(qqplotTnTxWGEN)
export(qqplotWGEN)
export(removeNAs)
export(rescaling_monthly)
export(serial_test)
export(setComprehensiveTemperatureGeneratorParameters)
export(splineInterpolateMonthlytoDaily)
export(splineInterpolateMonthlytoDailyforSeveralYears)
export(TemperatureEndDay)
export(TemperatureStartDay)
export(VAR_mod)
export(WhereIs)
exportClasses(GPCA)
exportClasses(GPCAiteration)
exportClasses(GPCAvarest2)
exportClasses(varest)
exportClasses(varest2)
S3method(print,GPCA)
S3method(print,GPCAiteration)
S3method(residuals,varest2)
